# An Introduction to Pandas

## Basic Pandas Concepts

Some very basic Pandas and python concepts to get started

#### Import the pandas package

In [ ]:
import pandas as pd

#### Create a simple DataFrame

- syntax: pd.DataFrame({column1 : value1, column2 : value2, column3 : value3})

You can have anything as column names and anything as values.

The only requirement is to have all value lists being of equal length

In [ ]:
df = pd.DataFrame({'name':['Bob','Jen','Tim'],
                   'age':[20,30,40],
                   'pet':['cat', 'dog', 'bird']})

df

In [ ]:
# initialize list of lists
data = [['Bob', 20,'cat'], ['Jen', 30,'dog'], ['Tim', 40,'bird']]

# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['name', 'age','pet'])
df

#### View the column names and index values

The index is one of the most important concepts in pandas.

Each dataframe has only a single index which is always available as `df.index` and if you do not supply one  a new one is made automatically.

Indexes define how to access rows of the dataframe.

The simplest index is the range index but there are more complex ones like interval index, datetime index and multi index.

In [ ]:
print(df.columns)
print(df.index)

#### Select a column by name in 2 different ways

These two ways are equivalent and can be used interchangeably almost always.

The primary exception is when the name of the column contains spaces. If for example we had a column called "weekly sales" we have to use df['weekly sales'] because `df.weekly sales` is a syntactic error.

In [ ]:
print(df['name'])
print(df.name)

#### Select multiple columns

To select multiple columns we use `df[columns_to_select]` where `columns_to_select` are the columns we are interested in given as a simple python list. As the result we will get another data frame.

This is the equivalent of listing columns names in `SELECT` part of a sql query.

In [ ]:
df[['name','pet']]

#### Select a row by index

Regular selection of rows goes via its index. When using range indices we can access rows using integer indices but this will not work when using datetime index for example.

We can always access any row in the dataframe using `.iloc[i]` for some integer i.

The result is a series object from which we can access values by using column indexing.

In [ ]:
df.iloc[0]

### Sort Function


#### Sort the data by pet

There are two ways to sort.
- By index
- By value

By value means sorting according to value in a column.



The parameter `ascending = True` means that we want the rows sorted in ascending order. This is the same as sql 'ASC'. To get descending order use `ascending = False`.

`inplace` is very important and you should always remember it. When `inplace=True` the dataframe is modified in place which means that no copies are made and your previous data stored in the dataframe is lost. By default inplace is always False. When it is false a copy is made of your data and that copy is sorted and returned as output.

The output of `sort_values` is always a dataframe returned but the behaviour depends strongly on the `inplace` parameter.

In [ ]:
df.sort_values('pet',inplace=True, ascending=True)

### Indexing with DataFrames

Everything we discussed about indexing in numpy arrays applies to dataframes as well.

DataFrames are very similar to 2d-arrays with the main exception being that in DataFrames you can index using strings (column names).

#### View the index after the sort

In [ ]:
df

#### Difference between loc and iloc

- `.loc` selection is based on the value of the index. For example if the index was categorical we could index via some category.
- `.iloc` selection is **always** based on integer positions. When using iloc we are treating the dataframe as 2d-array with no special structure compared to the case of `.loc`

In [ ]:
df.loc[0] #index based

In [ ]:
df.iloc[0] #relative position based indexing

#### Use iloc to select all rows of a column

This will select all rows of the second column.

Remember `:` = `::1`

First index is always row and second is always column when dealing with dataframes.

In [ ]:
df.iloc[:,2]

#### Use iloc to select the last row

In [ ]:
df.iloc[-1,:]

## Basic Pandas Concept Exercises

In [ ]:
customer_name = ['Paul','Marc','Helene','Adele','Theo']
height = [182,187,175,177,189]
city = ['Paris','Toulouse','Lyon','Marseille','Bordeaux']

#### Create a DataFrame with the data above

#### What is the name of the first column?

#### Sort the DataFrame by city in descending order

#### Which customer is in the last row of the DataFrame?

#### Reorder the columns with city in the first column

#### Download Titanic dataset

In [ ]:
import seaborn as sns

# We will use the 'titanic' dataset for real-world demographics
df = sns.load_dataset("titanic")

#### Investigate the first few rows of data

The `head` method by default prints the first 5 rows of your dataframe.

If you pass it a parameter `n` it will print first `n` rows.

In [ ]:
df.head()

#### Investigate the last 10 rows of data

tail is similar to head except it prints the last `n` rows.

In [ ]:
df.tail(10)


## Variable Types & Levels of Measurement

Please complete this table.

| Column         | Variable Type | Sub-Type            | Measurement Level | Example Values |
|----------------|----------------|---------------------|-------------------|----------------|
| `survived`     |                |                     |                   | 0 = No, 1 = Yes |
| `pclass`       |                |                     |                   | 1st > 2nd > 3rd |
| `sex`          |                |                     |                   | male / female |
| `age`          |                |                     |                   | 22, 35, 80... |
| `sibsp`        |                |                     |                   | 0, 1, 3... |
| `parch`        |                |                     |                   | 0, 2... |
| `fare`         |                |                     |                   | 7.25, 71.283... |
| `embarked`     |                |                     |                   | C, Q, S |
| `class`        |                |                     |                   | First, Second, Third |
| `who`          |                |                     |                   | man, woman, child |
| `adult_male`   |                |                     |                   | True / False |
| `deck`         |                |                     |                   | B, C, D... |
| `embark_town`  |                |                     |                   | Cherbourg, Queenstown, Southampton |
| `alive`        |                |                     |                   | yes / no |
| `alone`        |                |                     |                   | True / False |

In [ ]:
df.info()

### Filtering Dataframes

You can filter data based on the columns and values in the dataframe

#### Filter the data for men

There are two pieces of the puzzle here:
- `data.sex=='male'` will give a boolean array where True means that row has a column called sex which has value 'male'. This numpy array is called the predicate.
- data[data.sex=='male'] will give back all rows for which the predicate holds true.

The result of this filter is a dataframe with same columns as the input dataframe.

In [ ]:
df[df.sex=='male']

#### Filter the ages for the men

Again there are two important parts:
- `data.sex=='male'` is the predicate as before
- `data.age` means taking the values for the age column, and `data.age[data.sex=='male']` means taking all ages which are related to male rows.

The result of this is pandas series **not** a dataframe.

In [ ]:
df.age[df.sex=='male']

### Adding methods to filters

A method is a function and is used frequently when analyzing data in Pandas. There are countless Pandas methods. We'll go over a few of the basic ones to show how you can use methods to quickly analyze your data.

#### How many men and women were on the Titanic?

The pipeline always goes the same way
- Predicate is evalatued
- Data is filtered according to a predicate
- An aggregate value is computed after the filtering.

The count method simply counts the number of frames in the dataframe.

In [ ]:
df.sex[df.sex=='male'].count()

In [ ]:
df.sex[df.sex=='female'].count()

#### What was the survival rate for adult men (age>=18)

Here we combine predicates using the and operator (&).

This operator applies the logical and operation between elements at matching positions.

For example:
- x = np.array([True, False, True, True])
- y = np.array([False, True, False, True])
- will give x & y = np.array([True & False, False & True, True & False, True & True]).

In the following example we use the or combiner (|).

You can combine any two boolean numpy arrays as long as they have the same shape using the & and | operators.

Combining regular python lists this way does not work.

In [ ]:
df.survived[(df.sex=='male')&(df.age>=18)]

#### What was the survival rate for women and children?

The mean method is the same as AVERAGE in SQL.

In [ ]:
df.survived[(df.sex=='female')|(df.age<18)].mean()

#### Use groupby to compare the survival rates of men and women

The `groupby` method is one of the most important tools you will use in your day to day work.

It's main input parameter is either a string denoting a column name or a list of strings denoting a list of column names.

It's output is a GroupBy object which is very similar to a dataframe.

The operation of groupby is the same as SQL GROUPBY.

In [ ]:
df.groupby('sex')['survived'].mean()

## More Basic Pandas Exercises

#### What was the average age of the survivors?

#### What was the combined survival rate of both children (age less than 18) and seniors (age greater than 60)?

#### Group by pClass and investigate average survival rate, age and fare